# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# Ignored file types for Visual Studio Project
*.sdf

# Ignored file types for Unity Project
Unity3D/3DTetris Prototype/Library/metadata/